{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<div style="position: relative; height: 0px; padding-bottom: 56.25%; text-align: left;">


<iframe style="position: absolute; width:100%; height:100%;" width="600" height="1050" src="https://datastudio.google.com/embed/reporting/1739c871-78c2-439c-a8e9-c4f55992f7e4/page/p_mz5io222uc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" ></iframe>
</div>


{% endblock %}