{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

{% if messages %}
    {% for message in messages %}
    <script>
		alert('{{ message }}');
	</script>
    {% endfor %}
{% endif %}



<style>
        .geeks {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
        }

        .geeks img {
            width: 100%;
            transition: 0.5s all ease-in-out;
        }

        .geeks:hover img {
            transform: scale(1.08);
        }

        .parallax {
        	/* The image used */
  			background-image: url(https://storage.googleapis.com/bamboo-magnet-314906.appspot.com/etc/subcribe_1.JPG);

  			/* Set a specific height */
  			min-height: 300px;

  			/* Create the parallax scrolling effect */
  			background-attachment: fixed;
  			background-position: 0% 60%;
  			background-repeat: no-repeat;
  			background-size: cover;
		}
</style>


<div class="parallax">
	<p style="color:#ff6f00;font-size:145px;text-align: center;font-weight: 500;height:500px;vertical-align: middle;">Analysis<br>Report</p>
</div>



<!-- 비디오타입
<style>
    .geeks {
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
        margin: 0 auto;
    }

    .geeks video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s all ease-in-out;
    }

    .geeks .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        font-size: 145px;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;
        height:300px;
    }

    .geeks:hover video {
        transform: scale(1.04);
    }

    .parallax {
        /* Set a specific height */
        min-height: 300px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: 0% 60%;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<div class="parallax">
    <div class="geeks">
        <video autoplay muted loop>
            <source src="https://storage.googleapis.com/bamboo-magnet-314906.appspot.com/dac/ocean.mp4" type="video/mp4">
        </video>
        <div class="overlay-text">
            Analysis Report
        </div>
    </div>
</div>
-->

<br>

<div class="container py-3">
	<h2>Report List</h2>
	<div align="right">
		<a href="{% url 'pybo:index' %}" style="font-size:15px;text-decoration:none;vertical-align: top;">
			<img src="https://storage.googleapis.com/bamboo-magnet-314906.appspot.com/etc/exchange.png" style="vertical-align:-0.02em;" width="12" height="12">
			Table View
		</a>
	</div>
	<hr>
	<br>
	 <div class="row">
         {% if question_list %}
         {% for question in question_list %}
	    <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
	      	<div class="card h-100" style="border:none">

				<!--이미지 줌인 효과 추가-->
				<div class="geeks">
					<a href="{% url 'pybo:detail' question.id %}">
						<img src="{{ question.thumbnail_img.url }}" class="card-img-top" alt="thum_img">
                	</a>
				</div>

				<!--효과 없는 이미지
				<a href="{% url 'pybo:detail' question.id %}">
					<img src="{{ question.thumbnail_img.url }}" class="card-img-top" alt="thum_img">
                </a>
                -->

	        	<div class="card-body">
					<p class="card-text" style="background-image:none;margin-bottom:0.1em;font-weight:500;">{{ question.content_summary }}
					</p>
					<p class="card-text" style="background-image:none;color:#6E6E6E;font-size: 15px;font-weight:500;">
						<!-- 구독자수 카운트 -->
						{% if question.subscribe_set.count > 0 %}
                		구독자 {{ question.subscribe_set.count }}
                		{% endif %}
					</p>
	            	<!--
					<a href="{% url 'pybo:detail' question.id %}" class="btn btn-warning" style="background-color: #FF8000; color: #FFFFFF;border: 2px solid #FF8000;">리포트 자세히보기</a>
					-->
	        	</div>

	      	</div>
	    </div>
         {% endfor %}
		 {% else %}
        <tr>
            <td colspan="4">리포트가 없습니다.</td>
        </tr>
        {% endif %}
	 </div>
	{% if request.user.is_authenticated %}
    <a href="{% url 'pybo:question_create' %}" class="btn btn-secondary">Add Report (for admin)</a>
    {% endif %}

</div>
{% endblock %}



