{% extends 'base.html' %}
{% block content %}
{% if e %}
    <script>
        alert('{{ e }}');
    </script>
{% endif %}

<style>
        .geeks {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
        }

        .geeks img {
            width: 100%;
            transition: 0.5s all ease-in-out;
        }

        .geeks:hover img {
            transform: scale(1.08);
        }

        .parallax {
        	/* The image used */
  			background-image: url(https://storage.googleapis.com/bamboo-magnet-314906.appspot.com/etc/subcribe_2.JPG);

  			/* Set a specific height */
  			min-height: 300px;

  			/* Create the parallax scrolling effect */
  			background-attachment: fixed;
  			background-position: 30% 30%;
  			background-repeat: no-repeat;
  			background-size: cover;
		}

</style>

<!--신규 소제목-->
<div class="parallax">
	<p style="color:#ff6f00;font-size:145px;text-align: center;font-weight: 500;height:500px;vertical-align: middle;">Request<br>Work</p>
</div>


<br>
<br>
<br>




<div class="container">
    <h5 class="my-3 border-bottom pb-2">분석업무 요청</h5>
    <div class="border-bottom py-2" style="background-image: url(https://storage.googleapis.com/bamboo-magnet-314906.appspot.com/etc/request_work_category.png);height:760px;width:1000px;">
    </div>


    <br>
    <form method="post">
        {% csrf_token %}

        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="category_state" class="form-label">분류</label>
            <br>
            <select class="form-select form-select-sm mb-3" aria-label="Default select example" name="category_state" id="category_state">
                <option value="ga_analysis">WV홈페이지(패밀리사이트) Google Analytics 관련 분석</option>
                <option value="ga_setup">Google Analytics 설치 및 추가 행동 데이터 추적</option>
                <option value="optimize">페이지 UX 최적화(A/B Test)</option>
                <option value="etc">기타 디지털 분석</option>
            </select>
        </div>


        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.value|default_if_none:'' }}">
        </div>

        <div class="mb-3">
            <label for="department" class="form-label">부서 / 팀</label>
            <input type="text" class="form-control" name="department" id="department"
                   value="{{ form.department.value|default_if_none:'' }}">
        </div>

        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>

        <br>
        <button type="submit" class="btn btn-primary" style="background-color: #FF8000; color: #FFFFFF;border: 2px solid #FF8000;">업무요청</button>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}