<!-- 스크롤 효과 -->
<style>
  .navbar-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 0;
    background-color: #FFA500;
    transition: width 0.3s;
    z-index: 9999;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var navbarProgressBar = document.createElement('div');
    navbarProgressBar.classList.add('navbar-progress-bar');
    document.body.appendChild(navbarProgressBar);

    window.addEventListener('scroll', function() {
      var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
      var pageHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var progressWidth = (scrollPosition / pageHeight) * 100 + '%';
      navbarProgressBar.style.width = progressWidth;
    });
  });
</script>

<!-- 네비게이션바 -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'pybo:report_update' %}">
            <img src = 'https://storage.googleapis.com/bamboo-magnet-314906.appspot.com/etc/digital_analysis_center_4.png' alt="home" height="62">
        </a>

        <br>
        <br>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!--
              <li class="nav-item">
                <button class="nav-link btn btn-link" style="color: #424242; margin-left: 15px; font-weight: 300;" onclick="location.href='{% url 'pybo:index' %}'" onmouseover="this.style.backgroundColor='#FFA500';" onmouseout="this.style.backgroundColor='transparent';">
                report_list
                </button>
              </li>
              -->
              <li class="nav-item">
                <button class="nav-link btn btn-link" style="color: #424242; margin-left: 15px; font-weight: 300;" onclick="location.href='{% url 'pybo:report_update' %}'" onmouseover="this.style.backgroundColor='#FFA500';" onmouseout="this.style.backgroundColor='transparent';">
                분석 리포트
                </button>
              </li>
            <li class="nav-item">
                <button class="nav-link btn btn-link" style="color: #424242; margin-left: 15px; font-weight: 300;" onclick="location.href='{% url 'pybo:requestwork_create' %}'" onmouseover="this.style.backgroundColor='#FFA500';" onmouseout="this.style.backgroundColor='transparent';">
                분석업무요청
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn btn-link" style="color: #424242; margin-left: 15px; font-weight: 300;" onclick="location.href='{% url 'pybo:analysis_guide' %}'" onmouseover="this.style.backgroundColor='#FFA500';" onmouseout="this.style.backgroundColor='transparent';">
                Mcode/UTM 가이드
                </button>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <button class="nav-link btn btn-link" style="color: #424242; margin-left: 25px; font-weight: 300;" onclick="location.href='{% url 'common:logout' %}'" onmouseover="this.style.backgroundColor='#FFA500';" onmouseout="this.style.backgroundColor='transparent';">
                {{ user.username }} (로그아웃)
              </button>
              {% else %}
              <button class="nav-link btn btn-link" style="color: #424242; margin-left: 25px; font-weight: 300;" onclick="location.href='{% url 'common:login' %}'" onmouseover="this.style.backgroundColor='#FFA500';" onmouseout="this.style.backgroundColor='transparent';">
                관리자로그인
              </button>
              {% endif %}
            </li>

            <!--
            <li>
              {% if not user.is_authenticated %}
              <button class="nav-link btn btn-link" style="color: #A4A4A4;" onclick="location.href='{% url 'common:signup' %}'" onmouseover="this.style.backgroundColor='#FFA500';" onmouseout="this.style.backgroundColor='transparent';">
                admin join
              </button>
              {% endif %}
            </li>
            -->
          </ul>
        </div>

        <img src ="https://storage.googleapis.com/bamboo-magnet-314906.appspot.com/etc/worldvision_orange_logo.png" alt="worldvision logo" width="150">
    </div>
</nav>
